/* General */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Helvetica";
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	color: #444;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
}

#main-container{
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
}

/* Messages */
#message-container{
	position: relative;
	display: inline-block;
	height: 30%;
	top: 10%;
	padding-left: 15%;
	padding-right: 15%;
	-webkit-transform: translateY(-20%);
	-moz-transform: translateY(-20%);
	-ms-transform: translateY(-20%);
}

#rules ul:not(last-child){
	list-style-type: none;
	text-align: justify;
	font-size: 0.9em;
	padding-top: 16px;
}

#rules ul:last-child{
	list-style-type: none;
	text-align: justify;
	font-size: 0.9em;
	padding-top: 12px;
}

#rules ul li:not(last-child){
	padding-bottom: 8px;
}

#gameover{
	display: none;
}

#new-game{
	font-size: 0.9em;
	margin-top: 8px;
	cursor: pointer;
}

/* AI prediction display */
#prediction-container{
	position: relative;
	height: 20%;
	width: 100%;
}

#toggle-prediction{
	position: relative;
	width: 250px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

#next-predicted-value{
	position: relative;
	width: 20%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	margin-top: 5px;
	opacity: 0;
}

/* Player score display */
#player-container{
	position: relative;
	height: 50%;
	width: 100%;
}

.player-group{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 150px
}

.sphere{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	perspective: 500px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-ms-perspective: 500px;
  	perspective-origin: 100% 100%;
  	-webkit-perspective-origin: 100% 100%;
  	-moz-perspective-origin: 100% 100%;
  	-ms-perspective-origin: 100% 100%;
}

#computer .sphere{
	background: radial-gradient(circle at 50% 120%, #f1f2f2, #e7e7e7 10%, #939393 80%, #454545 100%);
	background: -webkit-radial-gradient(circle at 50% 120%, #f1f2f2, #e7e7e7 10%, #939393 80%, #454545 100%);
	background: -moz-radial-gradient(circle at 50% 120%, #f1f2f2, #e7e7e7 10%, #939393 80%, #454545 100%);
	background: -ms-radial-gradient(circle at 50% 120%, #f1f2f2, #e7e7e7 10%, #939393 80%, #454545 100%);
}

#human .sphere{
	background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background: -webkit-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background: -moz-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background: -ms-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

.sphere:before {
	content: "";
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 0px, #fff, rgba(255, 255, 255, 0) 58%);
	background: -webkit-radial-gradient(circle at 50% 0px, #fff, rgba(255, 255, 255, 0) 58%);
	background: -moz-radial-gradient(circle at 50% 0px, #fff, rgba(255, 255, 255, 0) 58%);
	background: -ms-radial-gradient(circle at 50% 0px, #fff, rgba(255, 255, 255, 0) 58%);
	filter: blur(5px);
}

.shadow{
	position: absolute;
	top: 0%;
	left: 50%;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	background: -webkit-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	background: -moz-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	background: -ms-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	transform: rotateX(90deg) translateZ(-75px) translateX(-50%);
	-webkit-transform: rotateX(90deg) translateZ(-75px) translateX(-50%);
	-moz-transform: rotateX(90deg) translateZ(-75px) translateX(-50%);
	-ms-transform: rotateX(90deg) translateZ(-75px) translateX(-50%);
}

/* Responsiveness */
@media screen and (max-height: 440px){
	/* Messages */
	#message-container{
		position: relative;
		display: inline-block;
		height: 20%;
		top: 4%;
		padding-left: 10%;
		padding-right: 10%;
		-webkit-transform: translateY(-2%);
		-moz-transform: translateY(-2%);
		-ms-transform: translateY(-2%);
	}

	#rules ul{
		display: none;
	}

	/* AI prediction display */
	#prediction-container{
		position: relative;
		height: 30%;
		width: 100%;
	}
}

@media screen and (max-width: 443px){
	/* Messages */
	.hide-small-window{
		display: none;
	}

	#rules ul:not(last-child){
		list-style-type: none;
		text-align: justify;
		font-size: 0.78em;
		padding-top: 7px;
	}

	#rules ul:last-child{
		list-style-type: none;
		text-align: justify;
		font-size: 0.78em;
		padding-top: 5px;
	}

	#rules ul li:not(last-child){
		padding-bottom: 2px;
	}

	/* Player score display */
	.player-group{
		position: relative;
		display: inline-block;
		height: 100%;
		width: 120px
	}
}

@media screen and (max-height: 590px){
	.hide-small-window{
		display: none;
	}
}

@media screen and (min-width: 444) and (max-width: 820px){
	/* General */
	h3{
		font-size: 1.05em;
	}

	/* Messages */
	#rules ul:not(last-child){
		list-style-type: none;
		text-align: justify;
		font-size: 0.78em;
		padding-top: 14px;
	}

	#rules ul:last-child{
		list-style-type: none;
		text-align: justify;
		font-size: 0.78em;
		padding-top: 10px;
	}

	#rules ul li:not(last-child){
		padding-bottom: 7px;
	}

	/* AI prediction display*/
	#prediction-container{
		position: relative;
		height: 20%;
		width: 100%;
		font-size: 0.93em;
	}
}